<div class="modal fade" id="{{ id }}" tabindex="-1"
     aria-labelledby="{{ id }}-label" aria-hidden="true"
     {% if static_backdrop %}data-bs-backdrop="static" data-bs-keyboard="false"{% endif %}>
    <div class="modal-dialog
                {% if size %}modal-{{ size }}{% endif %}
                {% if centered %}modal-dialog-centered{% endif %}
                {% if scrollable %}modal-dialog-scrollable{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ id }}-label">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ body|raw }}
            </div>
            {% if footer_html %}
            <div class="modal-footer">
                {{ footer_html|raw }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
